/* Gerais */
@import url("./componentes/tipografias.css");
@import url("./componentes/cores.css");

/* Reset */
body {
  margin: 0px;
  background-color: #CBCBCB;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

/* Header */
.header-container {
  background-color: rgb(255, 0, 0);
  padding: 10px 16px 16px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 6px 6px 1px;
  position: fixed;
  width: calc(960px - 32px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;

}

.header-container a {
  font-family: "Righteous", cursive;
  font-size: 2rem;
  color: #fff;
}

.header-container p {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* Produtos Section */
.main {
  background-color: #eee;
  max-width: 960px;
  margin: 0 auto;
  position: relative;

}

.pratos,
.bebidas,
.sobremesa {
  padding: 0px 16px 0px;
}

.sobremesa {
  padding-bottom: 20px;
}

.pratos {
  padding-top: 80px;
}

.pratos h1,
.bebidas h1,
.sobremesa h1 {
  padding-top: 26px;
  margin-bottom: 20px;
  font-family: "Righteous";
  font-size: 1.5rem;
  color: #333333;
  letter-spacing: 1px;
}

.pratos__list {
  display: flex;
  gap: 16px;
  overflow: auto;
  padding-bottom: 10px;
}

.sobremesa .pratos__list {
  margin-bottom: 80px;
}

.pratos__item--pratos {
  flex: 1 0 160px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* max-height: 235px; */
  padding: 8px;
  background-color: #fff;
  border-radius: 16px;
  border: 4px solid #fff;
  cursor: pointer;
  position: relative;
}

.pratos__item--refri,
.pratos__item--sobremesa {
  flex: 1 0 160px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
}


.pratos__item--pratos picture img {
  flex: 1 0 144px;
}

.pratos__item--pratos h2,
.pratos__item--refri h2,
.pratos__item--sobremesa h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
}

.pratos__item--pratos p,
.pratos__item--refri p,
.pratos__item--sobremesa p {
  font-family: "Roboto", sans-serif;
  font-size: 0.833rem;
  margin: 10px 0px;
}

.pratos__price-container span {
  font-family: "Roboto";
  font-size: 0.933rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.pratos__price-container span  i{
  color: #50D074;
  transition: .3s;
  opacity: 0;
}


.pratos__item__btn,
.bebida__btn,
.sobremesa__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



.item-checked {
  border-color: green;
}

/* Button Area */

.botao {
  padding: 16px 32px;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: calc(960px - 64px);
}

.botao button {
  min-height: 66px;
  width: 350px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #fff;
  background-color: #CBCBCB;
  padding: 12px 90px;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  transition: .3s;
  
}

.modal{
  display: none;
  font-family: "Roboto", sans-serif;
  background-color: #50D074;
  color: #fff;
  min-width: 340px;
  padding: 12px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  z-index: 30;
}

.modal h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
  text-align: center;
}

.modal__list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.modal__item,.modal p{
  display: flex;
  justify-content: space-between;
}
.modal p{
  font-weight: 700;
}

.modal #fazer-pedido{
  background-color: #fff;
  width: calc(100% - 40px);
  padding: 12px 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  margin-top: 26px;
  font-size: 1rem;
  color: #50D074;
  font-weight: 600;
  cursor: pointer;
  
}

.modal #cancelar{
  width: calc(100% - 40px);
  padding: 12px 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.layer{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #CBCBCB;
  opacity: .5;
  z-index: 22;
  }

@media (max-width:960px){
  .header-container {
    width: calc(100% - 32px);
  }
  .botao {
    width: calc(100% - 64px);
  }
}
@media (max-width:545px) {
  .pratos__item--pratos {
    max-height: 235px;
  }
}