/* Reset */
body {
  margin: 0px;
  background-color: var(--cor-1);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}